<footer class="footer">
  <ul class="footer-list">
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
  </ul>
  <ul class="footer-list">
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
  </ul>
  <ul class="footer-list">
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
    <li>placeholder</li>
  </ul>
</footer>
