<header class="header">
  <div>
    <ul>
      <li><a class="nav-link" href="#">Link.ie</a></li>
      <li><a class="nav-link" href="#">Home</a></li>
      <li><a class="nav-link" href="#">Features</a></li>
      <li><a class="nav-link" href="#">Pricing</a></li>
    </ul>
  </div>
  <div>
    <ul>
      <% if (isAuthed){%>
      <li><a class="nav-link btn" href="/dashboard">Dashboard</a></li>
      <li><a class="nav-link " href="/logout">Logout</a></li>
      <%}else{%>
      <li><a class="nav-link" href="/login">Login</a></li>
      <li><a class="nav-link btn" href="/register">Register</a></li>
      <%}%>
    </ul>
  </div>
</header>
