<aside class="sidebar" id="sidebar">
  <div><i class="fas fa-bars fa-2x" id="menuIcon"></i></div>

  <ul>
    <li>
      <a href="/dashboard"
        ><i class="fas fa-home fa-2x"></i><span>Dashboard</span></a
      >
    </li>
    <li>
      <a href="/dashboard/mylinks">
        <i class="fas fa-anchor fa-2x"></i><span>My Links</span></a
      >
    </li>
    <li>
      <a href="/dashboard/campaigns">
        <i class="fas fa-route fa-2x"></i><span>Campaigns</span></a
      >
    </li>
    <li>
      <a href="/dashboard"
        ><i class="fas fa-home fa-2x"></i><span>placeholder</span></a
      >
    </li>
    <li>
      <a href="/dashboard"
        ><i class="fas fa-home fa-2x"></i><span>placeholder</span></a
      >
    </li>
    <li>
      <a href="/dashboard"
        ><i class="fas fa-home fa-2x"></i><span>placeholder</span></a
      >
    </li>
  </ul>
</aside>
