<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Linkie</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/dashboardstyles.css" />
  </head>
  <body>
    <aside class="sidebar" id="sidebar">
      <div><i class="fas fa-bars fa-2x" id="menuIcon"></i></div>

      <ul>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
        <li><i class="far fa-angry fa-2x"></i><a href="">placeholder</a></li>
      </ul>
    </aside>
    <main class="container">
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
      <div class="box">
        <h2>My links</h2>
        <div class="data">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          corrupti iusto a ipsum ut tempora repellat. Dolorum expedita aperiam
          commodi incidunt, vero quos asperiores quasi quas delectus inventore
          rem sint tempora at neque. Dignissimos cupiditate consectetur odit
          laudantium quisquam saepe numquam id, atque voluptate necessitatibus
          amet sequi doloribus blanditiis optio.
        </div>
      </div>
    </main>
    <script>
      let menuButton = document.getElementById("menuIcon");
      let sidebar = document.getElementsByClassName("sidebar");

      menuButton.onclick = () => {
        document.getElementById("menuIcon").classList.toggle("rotate");
        document.getElementById("sidebar").classList.toggle("sidebar-small");
      };
    </script>
  </body>
</html>
