<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Linkie</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
  </head>
  <body>
    <div class="rdr">Redirecting in... <i id="inc">5</i></div>
  </body>
  <style>
    .rdr {
      background-color: #f2f2f2;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      margin-top: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid grey;
      border-radius: 0.375em;
    }
  </style>
  <script>
    setTimeout(() => {
      pseudoCounter(5);
    }, 1000);

    function pseudoCounter(time) {
      time = time;
      let ele = document.getElementById("inc");
      ele.innerText = time;
      let timer = setInterval(() => {
        if (time === 0) {
          clearInterval(timer);
          return (window.location = "http://google.com");
        }
        ele.innerText = time;
        time--;
      }, 1000);
    }
  </script>
</html>
