<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Linkie</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include('partials/header')%>
    <main class="link-container">
      <div class="link">
        <p>Your shortened link is:</p>
        <p class="shortened-link">
          <%= link %>
        </p>
      </div>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
