<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Linkie</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <section class="login-container">
      <form action="/users/login" method="post">
        <fieldset>
          <legend>Login</legend>
          <label for="username"
            >Username<input
              type="text"
              name="username"
              id="username"
              placeholder="enter your username"
              required
          /></label>
          <label for="password"
            >Password<input
              type="password"
              name="password"
              id="password"
              placeholder="Enter your password"
              required
            />
          </label>
          <button type="submit" class="btn">Log in</button>
        </fieldset>
      </form>
    </section>
    <%- include('partials/footer') %>
  </body>
</html>
