* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  display: flex;
  position: relative;
}
/*
Sidebar
*/
.sidebar {
  width: 15vw;
  min-height: 100vh;
  max-height: 100%;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-small {
  width: 5vw;
}
.sidebar-small ul li {
  margin-left: 1em;
}
.sidebar-small ul li a {
  display: none;
}
.rotate {
  transform: rotate(90deg);
}
.sidebar div {
  align-self: flex-start;
  margin-left: 0.8em;
}

.sidebar div i {
  color: #fff;
  margin-top: 0.2em;
}
.sidebar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar ul li {
  padding: 0.2em;
  border-bottom: 1px solid #f2f2f2;
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-left: 1em;
}
.sidebar ul li i {
  color: #fff;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  margin-right: 0.4em;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box {
  width: 30%;
  border-radius: 0.375em;
  border: 2px solid blue;
  margin: 1em;
}

.data {
  margin: 0.5em;
}

/*
My Links
*/
table {
  width: 95%;
  border-collapse: collapse;
  line-height: 1.4em;
}
th {
  text-align: left;
}
tr {
  background-color: #929fad;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
table,
th,
td {
  border: 1px solid black;
}
#impressions:hover,
#dateAdded:hover {
  cursor: pointer;
}
.sortdiv {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 85%;
  padding: 0.25em;
  width: 20%;
}
